:root {
  --brand: #3365A2;
  --brand-darken-45: #1C3759;
  --brand-lighten-85: #DDE7F4;
  --text-01: #242A30;
  --text-02: #666D76;
  --text-03: #A3A7AD;
  --ui-01: #DCE0E5;
  --ui-02: #F4F5F7;
  --ui-03: #FFFFFF;
  --semantic-info: #4386D6;
  --semantic-error: #DD0A35;
  --semantic-success: #21ABA5;
  --semantic-alert: #FFA900;
}